/* common */
$primaryColor: rgba(255,255,255,0.7);
$pointColor: #7c6bf5;
$selbgColor: rgba(124,107,245,0.5);
$liactiveBg: rgba(124,107,245,0.5);

@mixin bgGradient($sColor, $eColor) {
  background: linear-gradient($sColor, $eColor);
  background: -webkit-linear-gradient($sColor, $eColor);
  background: -moz-linear-gradient($sColor, $eColor);
  background: -o-linear-gradient($sColor, $eColor);
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin selfont($color) {
  color: $color;
  font-weight: bold;
}

.wrap {
  height: 650px;
  padding-left: 456px;
  background: #0b0d1f;
}

.dis {
  pointer-events: none;
}

.overlay, button {
  font-family: Roboto, 'Noto Sans', 'Noto Sans CJK KR';
}